URxvt.scrollBar:false
URxvt.saveLines:10000

URxvt.perl-ext-common: default,clipboard,url-select
URxvt.url-select.launcher: firefox
URxvt.keysym.M-u: perl:url-select:select_next

URxvt.cursorBlink: true
URxvt.cu:rsorColor: #ffcc00
URxvt.keysym.M-S-C: perl:clipboard:copy
URxvt.keysym.M-S-V: perl:clipboard:paste
