! Colores base (Solarized Dark como ejemplo, puedes adaptar)
*.foreground:   #839496
*.background:   #002b36
*.cursorColor:  #93a1a1
*.color0:       #073642
*.color1:       #dc322f
*.color2:       #859900
*.color3:       #b58900
*.color4:       #268bd2
*.color5:       #d33682
*.color6:       #2aa198
*.color7:       #eee8d5
*.color8:       #002b36
*.color9:       #cb4b16
*.color10:      #586e75
*.color11:      #657b83
*.color12:      #839496
*.color13:      #6c71c4
*.color14:      #93a1a1
*.color15:      #fdf6e3

! Fuente general
*.font: xft:FiraCode Nerd Font Mono:size=10:antialias=true:hinting=true

! Configuración para URxvt
URxvt.perl-ext-common: default,clipboard,url-select
URxvt.scrollBar: false
URxvt.saveLines: 10000
URxvt.url-select.launcher: firefox
URxvt.keysym.M-u: perl:url-select:
URxvt.transparent: true
URxvt.shading: 20
URxvt.depth: 32
URxvt.background: [90]#002b36

! Configuración para XTerm
XTerm*scrollBar: false
XTerm*saveLines: 10000
XTerm*faceName: FiraCo*
